/* root */
:root {
  --teal: rgb(145, 251, 255);
  --darkTeal: rgb(59, 231, 220);
  --gold: rgb(255, 214, 81);
  --coral: rgb(255, 165, 147);
  --purple: rgb(185, 91, 214);
  --paleGrey: rgb(180, 180, 180);
  --lightGrey: rgb(79, 77, 83);
  --medGrey: rgb(57, 55, 59);
  --darkGrey: rgb(47, 46, 49);
  --darkestGrey: rgb(31, 30, 33);
}

/* wrapper */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to bottom right, var(--darkGrey), var(--lightGrey)); */
}

* {
  /* height: 100vh;
    width: 100vw; */
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  /* margin: 0;
      padding: 0; */
  background-color: var(--darkGrey);
  color: white;
  font-family: "Nunito", sans-serif;
  /* border: solid 2px orange; */
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* border: solid 2px orange;  */
}

a {
  transition: color 0s ease-in-out;
}

a:hover {
  color: var(--darkTeal) !important;
}

.page-body {
  border-top: 5px solid var(--lightGrey);
}

/* header and nav */

.header {
  padding: 1rem;
  /* font-size: large; */
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.nav-title {
  /* text-align: center; */
  /* border: solid 2px lime; */
  font-size: 3rem;
  /* margin-right: auto; */
  flex-grow: 2;
}

.nav-list {
  /* border: solid 2px lime; */
  padding: 0.5rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
}

.nav-item {
  /* border: solid 2px orange; */
  font-size: 1.1rem;
  border-radius: 6px;
  /* transition: box-shadow 0.3s ease-in-out; */
}

.page-body {
  margin: 1rem;
  display: flex;
}

/* About page */

#message-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#display-message {
  font-size: 26px;
  color: var(--gold);
  overflow: hidden;
  white-space: nowrap;
  /* border-right: 1px solid #ffffff; */
  animation: typing 3s steps(100);
}

.about-content {
  padding: 1rem;
  /* flex-grow: 1; */
}

.about-image {
  /* flex-grow: 1; */
}

.about-text {
  margin-top: 3.5rem;
  /* flex-grow: 2; */
}

/* portfolio */

.portfolio-container {
  /* flex-direction: row; */
  /* margin-top: 4rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.project-card {
  /* margin-bottom: 5rem; */
  /* border-top: 5px solid var(--gold); */
  position: relative;
  width: 250px;
  margin: 1.5rem !important;
  text-align: center;
  overflow: hidden;
  animation: scrollIn 1s ease-in-out;
}

.project-title {
  /* margin: 0.75rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: var(--darkTeal);
  background-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  width: 100%;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-image {
  /* width: 275px;
  height: auto; */
  /* border: 5px solid var(--gold); */
  /* border-radius: 35px; */
  max-width: 100%;
  height: auto;
  transition: filter 0.3s ease-in-out;
  /* animation: growImage 1s ease-out; */
}

.project-card:hover .project-title {
  opacity: 1;
}

/* @keyframes growImage {
    from {
        width: 100px;
    }
    to {
        width: 275px;
    }
} */

.button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  width: 100%;
  margin: 10px 0;
}

.button {
  padding: 8px 16px;
  background-color: var(--paleGrey);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #2677ad;
}

.deploy-link,
.git-hub-link {
  color: var(--gold);
  font-weight: bold;
  padding: 4px;
  /* background-color: black; */
  border: 2px solid var(--gold);
  border-radius: 12px;
}

/* resume */

.tech-title {
  margin-top: 6rem;
}

.tech-container {
  margin: 6rem 0 4rem 0;
}

.skills-container {
  margin: 0 0 4rem 0;
}

.skills-title {
  margin: 0 0 4rem 0;
}

.tech-li,
.skills-li {
  margin: 3rem;
  animation: scrollIn 1s ease-in-out;
}

#tech-item {
  /* border: 2px dotted var(--gold);
  border-radius: 25px;
  padding: 1rem; */
  color: var(--gold);
  font-size: 5rem;
  flex-grow: 1;
}

.skills-li {
  color: var(--gold);
}

.tech-item-title {
  margin: 1rem;
}

.resume-btn {
  margin-top: 4rem;
  background-color: var(--darkTeal);
  color: var(--darkGrey);
  font-weight: bold;
}

/* contact */

/* .contact-container,
.contact-title,
.contact-form,
.contact-button-div
 {
    background-color: var(--lightGrey);
} */

.contact-container {
  padding: 2rem;
  max-width: 540px !important;
  /* border-radius: 1rem; */
}

.contact-form {
  margin-top: 2rem;
}

.contact-button {
    background-color: var(--darkTeal);
}

/* keyframes */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes scrollIn {
  from {
    transform: translateX(-50%);
    /* translateY(50%); */
  }
  to {
    transform: translateX(0);
    /* translateY(0); */
  }
}

/* @media */

@media only screen and (min-width: 600px) {
  .about-text {
    font-size: larger;
  }
  /* .portfolio-container {
    margin-top: 6rem;
    width: 300px;
  } */
}

@media only screen and (min-width: 800px) {
  .about-image {
    width: 400px !important;
    height: 400px !important;
    border-radius: 200px !important;
  }
  /* .project-image {
    height: 300px;
    width: 300px;
  } */
  .container-fluid {
    margin-top: 4rem;
  }
  .portfolio-container {
    margin-top: 6rem;
    /* width: 300px; */
  }
  .tech-container,
  .skills-container {
    display: inline-block;
    width: 75%;
  }
  .contact-container {
    display: inline-block;
    width: 50%;
  }
}
