:root {
  --teal: rgb(135, 251, 255);
  --gold: rgb(255, 214, 81);
  --coral: rgb(255, 142, 120);
  --grey: rgb(65, 63, 67);
  --dark: rgb(40, 39, 42);
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--grey);
}

* {
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Kanit", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1.5rem;
  background-color: var(--dark);
}
.page-body {
  flex-grow: 1;
}

#root {
  text-align: center;
  height: 100vh;
  background-color: var(--grey);
}

main {
  margin: 100px;
}

/* #nav-about,
#nav-portfolio,
#nav-resume,
#nav-contact {
  color: orange;
} */

ul {
  list-style-type: none;
}

a {
}

.home-title {
  font-size: 2.5rem;
}

.title,
#nav-home,
#nav-about,
#nav-portfolio,
#nav-resume,
#nav-contact {
  color: var(--teal);
  /* color: var(--coral); */
  /* color: var(--gold); */
}

.nav-item {
  /* font-size: 1rem; */
}

.project-image {
  border-radius: 30px;
}

.gh-link,
.dep-link {
  /* color: var(--gold); */
  /* color: var(--coral); */
  color: var(--teal);
}

.container-fluid {
  padding: 5rem;
  background-color: var(--dark);
  border-radius: 20px;
}
