:root {
  --teal: rgb(145, 251, 255);
  --gold: rgb(255, 214, 81);
  --coral: rgb(255, 165, 147);
  --purple: rgb(241, 195, 255);
  --lightGrey: rgb(79, 77, 83);
  --medGrey: rgb(57, 55, 59);
  --darkGrey: rgb(40, 39, 42);
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--lightGrey);
}

* {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 1.1rem;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* .page-body {
  flex-grow: 1;
} */

#root {
  text-align: center;
  height: 100vh;
  background-color: var(--lightGrey);
}

main {
  margin: 100px;
}

/* #nav-about,
#nav-portfolio,
#nav-resume,
#nav-contact {
  color: orange;
} */

ul {
  list-style-type: none;
}

a {
}

.home-title {
  font-size: 2.5rem;
}

.title,
#nav-home,
#nav-about,
#nav-portfolio,
#nav-resume,
#nav-contact {
  /* color: var(--teal); */
  /* color: var(--purple); */
  /* color: var(--coral); */
  color: var(--gold);
  font-weight: bold;
}

/* #nav-about,
#nav-portfolio,
#nav-resume,
#nav-contact {
  border: solid var(--medGrey) .25em;
  border-radius: 100px;
} */

.nav-item {
  /* font-size: 1rem; */
  /* border: solid var(--medGrey) .25em;
  border-radius: 100px; */
}

.project-image {
  border-radius: 30px;
}

.gh-link,
.dep-link {
  /* color: var(--gold); */
  /* color: var(--coral); */
  color: var(--teal);
}

.about-image {
  /* padding: 10px; */
  /* margin-bottom: 5em; */
  border: solid var(--medGrey) 5px;
}

.about-p1,
.about-p2 {
  /* padding: 5px; */
}

/* .skills-container,
.portfolio-container {
  background-color: var(--medGrey);
  margin: 2em;
  padding: 15px;
  border-radius: 20px;
  min-width: fit-content;
} */

.skills-list {
  margin: 3em;
}

.skills-item {
  font-size: 1.25em;
  color: var(--coral);
}

.resume-btn {
  font-weight: bold;
  color: var(--lightGrey);
}

.container-fluid {
  padding: 5rem;
  background-color: var(--darkGrey);
  border: solid var(--medGrey) 2em;
  border-radius: 20px;
  min-width: fit-content;
}

i {
  font-size: 100px;
  border-top: solid 3px grey;
  border-radius: 10px;
  padding: 10px;
  /* color: var(--gold); */
}

.flex-container {
  display: flex;
}

/* .header {
  margin-right: auto;
  flex-basis: 100px;
  flex-grow: 2;
} */

/* .nav-item {
  flex-basis: 25px;
  flex-grow: 1;
} */

/* .home-title {

} */

/* testing */

.wrapper,
.flex-container,
.header,
.footer {
  border: solid 2px rgb(140, 102, 175);
}

.header-title,
.nav,
.about-image,
.about-text {
  border: solid 2px lime;
}

.nav-item {
  border: solid 2px orange;
}